@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body {
    font-family: "Times New Roman", Helvetica, sans-serif;
    color: #000000;
    background-color: #ffffff;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    font-family:"Merienda", "Times New Roman";
    color:#ffffff;
    background-color: #913974;
}

.logo {
    width: 80px;
}

#logo-link {
    padding-top: 5px;
}

nav a {
    text-decoration: none;
    text-align: center;
    color:#ffffff ;
    background-color: #913974;
    /*I didn't follow the instructions exatcly on this part as I switched and didn't add the padding on the top as it was covering my logo, so I made separate ones to add it to the other sides, but not cut off my logo with padding. */
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
}

nav a:hover{
    text-decoration: underline;
    background-color: #3181b5;
    color: #f9c9af;
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;

}

.button-box {
    text-align: center;

}

.book, .join {
    text-decoration: none;
    color:#ffffff;
    background-color: #913974;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.book:hover, .join:hover {
    text-decoration: underline;
    color:#f9c9af;
    background-color: #3181b5;
    
}

main section {
    text-align: center;

}

main section img {
    box-sizing: border-box;
}

.home-title {
    font-family: "Merienda", "Times New Roman";
    color:#000000;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color:#000000
}

h2 {
    margin: 0;
}

.card-img {
    border: 10px solid #913974
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0px;
}

.mgs {
    color: #000000;
    background-color: #ffffff;
    padding: 35px;
}
.msg h2{
    font-family: "Merienda", "Times New Roman";
    color: #000000;
}
.msg p {
    color:#000000;
    font-size: .8em;
    padding-bottom: 15px;
 }

.icon {
    width:80px;
    padding: 10px;
}

#background {
    height: 725px;
    background-color: #913974;
}

footer {
    color: #ffffff;
    background-color: #913974;
    padding:25px 50px;
    margin-top:200px
}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer.social img {
    padding-top: 15px;
}

footer p a:hover{
    text-decoration: underline;
    color:#f9c9af

}

footer p {
    font-size: 1.2em;
}


