body{
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 500px 500px;
}
#text1{
    font-size:95px ;
    color: black;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}
#image{
    grid-column: 1/2;
    z-index: -1;
    width:100%;
    grid-row:1/2;
}

#text2{
    font-size: 40px;
    color:#9C0E11;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;
}
#gray{
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row:1/3;
    background-color: gray;
    z-index: -1;
}