body {
    background-color: #b9ccec;
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    background-color: #a4b9dd;
    padding:26px
}

nav :hover{
    color:aliceblue
}

h1{
    text-align: center;
    font-family:'Courier New', Courier, "Times New Roman"

    
}
/*#active* active id to tell what page on .gray for class to make grayid needs #, class needs.*/
a{
    color:#000;
    font-size: 22px;
    padding: 24px;
    font-family:Georgia, "Times New Roman", Times, serif
}

p{
    width:80%;
    font-size: 20px;
    margin: 0 auto;
    /* background-color: aliceblue;
    border-radius: 15px;
    padding:10px */

}

img {
    width: 45%;
    margin: 0 auto;
    display: block;
    padding: 20px
}

footer {
    text-align: center;
    color:#000;
    background-color: #a4b9dd;
    padding:20px

}
